table {
    width: 100%;
	border: 1px solid black;
}
td {
	width: 25%;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 1px solid red;
}

th {
	background-color: green;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	border-right: 1px solid red;
}

.white {
	background-color: white;
	border-right: 1px solid red;
}
.gray {
	background-color: #d3d3d3;
	border: none;
	border-right: 1px solid red;
}