.box {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #F0E68C;
	border-radius: 5px;
	border: 2px solid orange;
}

.first {
	font-family: comic sans-serif;
	font-size: 18px;
	color: white;
	background-color: green;
	margin-bottom: 20px;
}

.second {
	font-family: comic sans-serif;
	font-size: 18px;
	color: white;
	background-color: #7CFC00;
	float: right;
}
p {
	font-family: comic sans-serif;
	font-size: 19px;
	color: #800000;
}